# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/java/spark-test-2/nbproject/private/
/java/spark-test-2/build/
/java/spark-test-2/dist/
/py/raster-viewer/*.tif
/java/JavaProject1/nbproject/private/
/akka/akka-quickstart-java/target/
/akka/my-akka-quickstart-java/nbproject/private/
/akka/my-akka-quickstart-java/build/
/akka/my-akka-quickstart-java/dist/
/vertx/my-vertx-demo/target/
/java/test-postgresql-async/target/
/akka/JavaApplication3/nbproject/private/
/akka/JavaApplication3/build/
/akka/JavaApplication3/dist/
/vertx/postgres-async2/nbproject/private/
/vertx/postgres-async2/build/
/vertx/postgres-async2/dist/
/vertx/vertx-tests/nbproject/private/
/vertx/vertx-tests/build/